header.header{
      background-color: #08da5f;
      margin:0;
      padding: 15px;
  }
  
  
  html,body{
      background-color: #eee;
      background-image: none;
  }

  .doctor-list{
      margin:15px;
      margin-top: 30px;
      background-color: #eee;
  }

  img.photo {
      width: 80px;
      height: 80px;
      clip-path: circle(50%);  
      object-fit: cover;
  }

.adress{
      width: 120%;
      display: flex;
      align-items:center;
      margin-top: 10px;
}
.recension{
      display: flex;
      margin-left: 10px;
      height: auto;
      align-items:start;
}
.block-item {
      background-color: white;
      margin-bottom: 20px;
      padding: 15px; 
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  }
  
  .block-item .col-sm-6 {
      padding: 10px; 
  }
  
  .block-item .col-sm-4 {
      padding: 10px; 
  }

  .recension-details {
      display: flex;
      width: 100%;
      height: auto;
      align-items: start;
      justify-content: space-between;
      gap: 0; 
  }

  .map-block{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top:20px;
    margin: 0 40px 0;
  }

  .map{
    width: 100%;
    height: auto;
  }
  


  