@page "/"
@inherits LayoutComponentBase



<div class="d-grid align-items-center justify-content-center min-vh-100">
    <h1 style="text-align:center">Animation progress bar!</h1>
    <div class="progress" style="width: 100%;">
        <div class="progress-bar bg-info" role="progressbar" style="width: @progressBarValue%" aria-valuenow="@progressBarValue" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <h1 style="text-align:center; font-size:100px">@progressBarValue%</h1>
<br />
    <button class="btn btn-primary justify-content-center" type="submit" @onclick="ToggleProgressBar">@buttonText</button>
</div>


@code
{
    private string buttonText { get; set; } = "Start";
    private int progressBarValue { get; set; }
    private bool isRunning = false;

    void ToggleProgressBar()
    {
        if (isRunning && progressBarValue > 0)
        {
            isRunning = false;
            buttonText = "Continue";
        }
        else
        {

            isRunning = true;
            buttonText = "Stop";
            StartProgressBar();

        }

        if (progressBarValue == 100)
        {
            progressBarValue = 0;
            StartProgressBar();
            buttonText = "Start";

        }
    }

    void StartProgressBar()
    {
        if (isRunning && progressBarValue < 100)
        {
            progressBarValue++;
            InvokeAsync(StateHasChanged);
            Task.Delay(100).ContinueWith(value => StartProgressBar());
        }
        

        if (progressBarValue == 100)
        {
            
            buttonText = "Resume";
            InvokeAsync(StateHasChanged);
            
        }

        

    }
}